---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Inicio"
  description="Estudiante de Ingeniería en Ciencias de la Computación en la Universidad Católica de Honduras, especializado en desarrollo backend. Te invito a explorar mi portafolio de proyectos y soluciones técnicas."
  language="es"
>
  <main>
    <h1>Bienvenido</h1>
  </main>
</Layout>
