---
interface Props {
  title: string;
  description: string;
  language: string;
}

const { title, description, language } = Astro.props;
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - Pablo Sosa</title>
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
